

body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #151A22; */
  height: 100%;
}

.footer {
  background-color: #343A40;
  height: 75px;
  width: 100%;
  margin-top:80px;
}

.footerText {
  color: #fff;
  padding-top: 10px;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  padding-left: 5px;
}

.padding {
  padding-top: 35px;
}

.align-center {
  text-align: center;
}

.rev-marg {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  margin-top: -24px;
}

.productHead{
  text-align: left;
}

.price {
  font-weight: bold;
  font-size: 25px;
}
.price-small {
  font-weight: bold;
  font-size: 18px;
}
.brand-small {
  font-style: italic;
  font-size: 21px;
}
.prodName {
  font-size: 25px;
  font-weight: bold;
}

h4 {
  text-align: center;
}

.shopHeader {
  font-weight: bold;
  text-align: center;
  font-size: 28px;
}

.shopItem {
  height: 120px;
  object-position: relative;
  object-fit: contain;
  background-position: top;
}

.bottomSpace {
  height: 100px;
}

.parallax {
  background-image: url(../src/assets/rear.jpeg);

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.shopCard {
  background-color: #fff;
  border-radius: 15px;
  padding-right: 5px;
  padding-left: 5px; 
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.shopHeadSpace {
  display: flex;
  justify-content: center;
  height: 450px;
  position: relative;
}

.siteHeader {
  font-weight: bold;
  text-align: center;
  font-size: 96px;
  color: #ffffff;
  font-family: 'Cuprum', sans-serif;
  font-style: italic;
  position: absolute;
  top: 40%;
}

.siteBrand {
  font-weight: bold;
  /* text-align: center; */
  font-size: 28px;
  color: #ffffff;
  font-family: 'Cuprum', sans-serif;
  font-style: italic;
  
}

.shopBottomSpace {
  height: 25px;
}

.search {
  height: 55px;
}

@media only screen and (max-device-width: 350px) {
  .parallax {
    background-attachment: scroll;
    width: 100%;
    height: 100%;
  }

  .shopCard {
    padding-right: 5px;
    padding-left: 5px; 
    margin-left: 10px;
    margin-right: 10px;
  }

  .mobile-spacer {
    height: 10px;
  }
}

.nav-black {
  color: #000000;
}




/* .dropdown {list-style: none; background: green; padding: 10px; display: inline-block;} */
.dropdown .nav-link {color:#fff; text-decoration: none;}
.dropdown .dropdown-menu a{color: #000; text-decoration: none;}
.dropdown .btn {background: green; color:#000;}
.dropdown .btn:hover {background: cyan; color:#000;}
.dropdown .btn:active {background: cyan; color:#000;}
.dropdown .btn:focus {background: cyan; color:#000;}
.dropdown-menu .dropdown-item {display: inline-block; width: 100%; padding: 15px 10px;}
.container .dropdown .dropdown-menu a:hover
{
  color: #fff;
  background-color: #b91773;
  border-color: #fff;
}